form {
  margin: 10% auto 0 auto;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: rgb(49, 16, 16);
  border-radius: 10px;
  color: white;
}
form label {
  font-size: 14px;
  cursor: pointer;
}
form label,
form input {
  float: left;
  clear: both;
}
form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
}
form textarea {
  float: left;
  clear: both;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
}
input[type="submit"] {
  padding: 15px 50px;
  width: auto;
  background: rgb(49, 16, 16);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  clear: right;
}
